parameters:
    uploadsDir: %wwwDir%/img/posts/


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'mysql:host=mariadb;dbname=quickstart'
	user: root
	password: '123456'



latte:
	strictTypes: yes
	strictParsing: yes


di:
	export:
		parameters: no
		tags: no

security:
	users:
		admin: secret  # user 'admin', password 'secret'