services:
    - App\Core\RouterFactory::createRouter
    - App\Model\Auth\UserManager
    - App\Model\Auth\MyAuthorizator

    -
        factory: App\Model\Auth\MyAuthenticator
        autowired: self

    - implement: App\Components\SignInForm\ISignInFormControlFactory
    - implement: App\Components\RegisterForm\IRegisterFormControlFactory
    - implement: App\Components\CommentForm\ICommentFormControlFactory
    - implement: App\Components\PostForm\IPostFormControlFactory
    - implement: App\Components\ProfileEditForm\IProfileEditFormControlFactory
    - implement: App\Components\EditForm\IEditFormControlFactory


search:
  -
    in: %appDir%
    classes:
      - *Facade
      - *Factory
      - *Repository
      - *Service
